src/ceph.toolbox/test-model_*
src/ceph.toolbox/ceph___test-model_SnapShot*
src/ceph.toolbox/*.pdf
src/ceph.toolbox/*.tex
src/ceph.toolbox/*.aux
src/ceph.toolbox/*.log
src/ceph.toolbox/test-model/*-*-*
